TestService/Service References/ServiceReference1/AidSysWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tellno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orgno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginTestSoapIn">
    <wsdl:part name="parameters" element="tns:LoginTest" />
  </wsdl:message>
  <wsdl:message name="LoginTestSoapOut">
    <wsdl:part name="parameters" element="tns:LoginTestResponse" />
  </wsdl:message>
  <wsdl:portType name="AidSysWebServiceSoap">
    <wsdl:operation name="LoginTest">
      <wsdl:input message="tns:LoginTestSoapIn" />
      <wsdl:output message="tns:LoginTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AidSysWebServiceSoap" type="tns:AidSysWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginTest">
      <soap:operation soapAction="http://tempuri.org/LoginTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AidSysWebServiceSoap12" type="tns:AidSysWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginTest">
      <soap12:operation soapAction="http://tempuri.org/LoginTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AidSysWebService">
    <wsdl:port name="AidSysWebServiceSoap" binding="tns:AidSysWebServiceSoap">
      <soap:address location="http://localhost/AidSysWebService/AidSysWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AidSysWebServiceSoap12" binding="tns:AidSysWebServiceSoap12">
      <soap12:address location="http://localhost/AidSysWebService/AidSysWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>