TestService/Web References/AidWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestWebService">
        <s:complexType />
      </s:element>
      <s:element name="TestWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestWebServiceResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OutMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysErr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TellerAuth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tellno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orgno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellerAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TellerAuthResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObjParamater">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:SerializationObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SerializationObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NewDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NameList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="String" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObjParamaterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjParamaterResult" type="tns:SerializationObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:TestWebService" />
  </wsdl:message>
  <wsdl:message name="TestWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:TestWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="TellerAuthSoapIn">
    <wsdl:part name="parameters" element="tns:TellerAuth" />
  </wsdl:message>
  <wsdl:message name="TellerAuthSoapOut">
    <wsdl:part name="parameters" element="tns:TellerAuthResponse" />
  </wsdl:message>
  <wsdl:message name="ObjParamaterSoapIn">
    <wsdl:part name="parameters" element="tns:ObjParamater" />
  </wsdl:message>
  <wsdl:message name="ObjParamaterSoapOut">
    <wsdl:part name="parameters" element="tns:ObjParamaterResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="TestWebService">
      <wsdl:input message="tns:TestWebServiceSoapIn" />
      <wsdl:output message="tns:TestWebServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TellerAuth">
      <wsdl:input message="tns:TellerAuthSoapIn" />
      <wsdl:output message="tns:TellerAuthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObjParamater">
      <wsdl:input message="tns:ObjParamaterSoapIn" />
      <wsdl:output message="tns:ObjParamaterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestWebService">
      <soap:operation soapAction="http://tempuri.org/TestWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerAuth">
      <soap:operation soapAction="http://tempuri.org/TellerAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjParamater">
      <soap:operation soapAction="http://tempuri.org/ObjParamater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestWebService">
      <soap12:operation soapAction="http://tempuri.org/TestWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerAuth">
      <soap12:operation soapAction="http://tempuri.org/TellerAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjParamater">
      <soap12:operation soapAction="http://tempuri.org/ObjParamater" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/AidWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/AidWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>